body {
    background: rgb(42, 42, 42) !important;
}

.navbar {
    overflow: hidden;
    background-color: #484848;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    font-family: sans-serif;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: #a07878;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #a07878ad;
    color: #a07878;
}

.navbar a.active {
    background: #a07878ad;
    color: #d6aaaa;
}

form.search input[type=text] {
    margin-top: 46px;
    padding: 10px;
    font-size: 15px;
    border:none;
    width: 80%;
    background: #484848;
    display: inline-block;
    text-align: center;
    border-radius: 8px;
}

form.search input[type=text]:focus {
    color: #d6aaaa;
    outline: 2px solid #5e7379;
}

form.search button {
    width: 15%;
    padding: 11px;
    background: #a07878;
    color: #000000;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

form.search button:hover {
    background: #a07878ad;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    margin-top: 10px;
    align-content: center;
}

.fieldset-form {
    margin-left: auto;
    margin-right: auto;
    background-color: #484848;
    border: none;
    width: 300px;
    border-radius: 8px;
    height: auto;
    margin-top: 100px;

}

.page-title {
    font-family: sans-serif;
    color: snow;
    margin-left: auto;
    margin-right: auto;
}

.imgTitle{
    font-family: sans-serif;
    color: snow;
    font-size: 32px;
    font-weight: bold;
}

.imgDescription{
    font-family: sans-serif;
    color: snow;
    font-size: 18px;
    margin-left: 35%;
    margin-right:35%;
}

label {
    display: inline-block;
    font-family: sans-serif;
    font-size: 10px;
    color: #a07878;
    vertical-align: middle;
    padding-top: 8px;
}

::placeholder {
    color: #a07878;
    text-align: center;
}

.checkboxes label {
    white-space: nowrap;
    font-size: 13px;
    vertical-align: middle;


}

.checkboxes input {
    vertical-align: middle;

}

.checkboxes label span {
    vertical-align: middle;

}

.input-field {
    width: 100%;
    background-color: rgb(42, 42, 42);
    border: none;
    color: #d6aaaa;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    resize: vertical;
    text-align: center;
    border-radius: 8px;
}

.input-field:focus {
    outline: 2px solid #5e7379;
}

.button {
    background-color: #a07878;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: white;
    font-weight: bold;
    width: 70%;
    position: relative;
    text-transform: uppercase;
    margin-left: 16%;
    margin-right: auto;
    margin-top:10px;
    height: 40px;
    border-radius: 8px;
}

.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.homeImg {
    width: 100%;
}
.detailsImg{
    margin-top: 100px;
}
.imgContainer{
    text-align: center;
}
.grid-item {
    margin-bottom: 4px;
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -ms-transition: opacity 200ms;
    position: relative;
    z-index: 1;
}
.lazy{
    max-width: 450px;
}
.grid-item:hover{
    opacity: 0.3;
    filter: alpha(opacity=30);
    z-index: 2;
}
.flexbox {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    overflow: hidden;
}

.comments-form {
    display: flex;
    flex-direction: column;
    border: none;
    /* margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 10%;
    width: 50%;
    margin-bottom: -200px; */
}

.comment{
    font-family: sans-serif;
    color: snow;
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    display: block;
}

.comment-poster{
    font-family: sans-serif;
    font-weight: bold;
    color: snow;
    font-size: 20px;
    text-align: left;
}
.commentContainer{
    width:40%;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 20%;
    margin-top: 100px;
}

.noSearchResults{
    color: white;
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
}